#emoji_1 {
	font-size: 15;
}
#emoji_2 {
	font-size: 30;
}
#emoji_3 {
	font-size: 45;
}
#emoji_4 {
	font-size: 65;
}
#emoji_5 {
	font-size: 75;
}
#emoji_6 {
	font-size: 85;
}
#emoji_7 {
	font-size: 95;
}
#emoji_8 {
	font-size: 105;
}
#emoji_9 {
	font-size: 120;
}
#emoji_10 {
	font-size: 135;
}