* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #654088cf;
    width: 1000px;
    height: 1000px;
    background-image: url("../assets/gatitobeibe.jpg");
    background-size: cover;
    background-attachment: scroll;
    background-position: absolute;
    background-repeat: repeat-y;
 

}
h2 {
    margin-bottom: 25px;
}
.container {
    position: fixed;
    position: center;
    width: 250px;
    padding: 30px;
    background-color: aquamarine;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: center;
    margin-left: 500px;
    margin-top: 100px;
    text-align: center;
}
span {
    display: block;
    margin:10px;
    background-color: rgb(11, 142, 135);
    border-radius: 50px;
    position: center;
    text-align: center;
    padding: 15px 10px; 
    font-size: 20px;
    cursor: pointer;
}

span:hover {
    background-color: rgb(9, 96, 92); 
    transition: background-color 0.4s ease; 
    }
    
 #verduleria {
    font-size: 30px;
    text-align: center;
    color: #0d723a;
    background: transparent;
    text-shadow: 1px 3px 0 #2095647b, 1px 13px 5px #2095647b;
    color: #0d723a;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    position: center;
    display: block;
}
